@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Digital Numbers Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Digital Numbers Regular"),
    url("/public/font/digital/DigitalNumbers-Regular.woff") format("woff");
}
@font-face {
  font-family: "Fredoka One Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Fredoka One Regular"),
    url("/public/font/fredoka/FredokaOne-Regular.woff") format("woff");
}
@font-face {
  font-family: "Mahoda Display Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Mahoda Display Regular"),
    url("/public/font/mahoda/MahodaDisplay-d9417.woff") format("woff");
}
*::before,
*:after,
:root {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
